<!doctype html>
<html lang="{{ app.request.getLocale() }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <meta http-equiv="Content-Type" content="text/css">
    <meta http-equiv="Content-Language" content="vi_VN"/>
    <link rel="shortcut icon" href="/images/logo/logo.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="images/log/logo.png">
    <link rel="profile" href="https://gmpg.org/xfn/11">
    <link rel="pingback" href="https://creatorvn.com/xmlrpc.php">
    <link rel="canonical" href="https://creatorvn.com/">
    <link rel="shortlink" href="https://creatorvn.com/">
    <meta property="og:url" content="https://creatorvn.com/">
    {% block metatags %}{% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" href="vendor/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    {% endblock %}
    {% block extra_stylesheets %}{% endblock %}
    {% block head_javascripts %}{% endblock %}
    <title>Thiết kế nội thất Creator</title>
    {% block head_need %} {% endblock %}
</head>
<body>
<div id="header-content">
    {% block header %}{% endblock %}
</div>

<div id="container-content">
    {% block container %}{% endblock %}
</div>

<div id="footer-content">
    {% block footer %}{% endblock %}
</div>
{% block javascripts %}
    <script src="vendor/jquery-3.3.1.min.js"></script>
    <script src="vendor/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="js/wating.js"></script>
{% endblock %}
{% block extra_javascripts %}
    <script type="application/javascript">

    </script>
{% endblock %}
</body>
</html>