{% if(renderData.is_Ajax == true) %}
    <script type="application/javascript">
        PreventLink();
    </script>
{% endif %}
<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>CreatorVN</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a onclick="callAjax('');return false;" href="">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Giỏ Hàng</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->

<!-- Start Cart  -->
<div class="cart-box-main">
    <div id="cart-null">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 style="padding-bottom: 5%;">Không có sản phẩm nào trong giỏ hàng của bạn</h1>
                <div onclick="callAjax('');return false;" class="col-12 text-center shopping-box">
                    <a href="#" class="ml-auto btn hvr-hover">Quay về trang chủ</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="cart-content" hidden>
        <div class="row">
            <div class="col-lg-12">
                <div class="table-main table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Ảnh</th>
                            <th>Tên Sản Phẩm</th>
                            <th>Giá</th>
                            <th>Số Lượng</th>
                            <th>Tổng</th>
                            <th>Cập Nhật</th>
                            <th>Xóa</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-lg-8 col-sm-12"></div>
            <div class="col-lg-4 col-sm-12">
                <div class="order-box">
                    <h3>Tóm tắt đặt hàng</h3>
                    <div class="d-flex">
                        <h4>Tổng hiện tại</h4>
                        <div class="ml-auto font-weight-bold" id="sub-total"></div>
                    </div>
                    <div class="d-flex">
                        <h4>Giảm giá</h4>
                        <div class="ml-auto font-weight-bold" id="sales-cart"> 0 </div>
                    </div>
                    <hr class="my-1">
                    <div class="d-flex">
                        <h4>Thuế</h4>
                        <div class="ml-auto font-weight-bold" id="tax-cart"> 0 </div>
                    </div>
                    <div class="d-flex">
                        <h4>Phí vận chuyển</h4>
                        <div class="ml-auto font-weight-bold" id="shipping-cart"> Free </div>
                    </div>
                    <hr>
                    <div class="d-flex gr-total">
                        <h5>Tổng tiền</h5>
                        <div class="ml-auto h5" id="gr-total"> </div>
                    </div>
                    <hr> </div>
            </div>
            <div onclick="callAjax('dat-hang')" class="col-12 d-flex shopping-box"><a href="#" class="ml-auto btn hvr-hover">Tới trang đặt hàng</a> </div>
        </div>
    </div>
</div>
<script type="application/javascript">
    document.title = '{{ renderData.title_head }} - ' + title_default;
</script>

