{% if(renderData.is_Ajax == true) %}
    <script type="application/javascript">
        PreventLink();
    </script>
{% endif %}
<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>CreatorVN</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a onclick="callAjax('');return false;" href="">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Khuyến Mãi</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
{% if( renderData.discounts.total == 0) %}
    <div class="row" style="margin: 10%;">
        <div class="col-lg-12 text-center">
            <h1 style="padding-bottom: 5%;">Không có sản phẩm nào đang giảm giá</h1>
            <div onclick="callAjax('')" class="col-12 text-center shopping-box">
                <a href="#" class="ml-auto btn hvr-hover">Quay về trang chủ</a>
            </div>
        </div>
    </div>
{% else %}
    <!-- Start Shop Page  -->
    <div class="shop-box-inner">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-sm-12 col-xs-12 shop-content-center">
                    <div class="center-product-box">
                        <div class="row product-categorie-box">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                                    <div class="row">
                                        {% for value in renderData.discounts.data %}
                                            {% set checkLarge = (value['gia'] > 0) %}
                                            <div class="col-lg-3 col-md-6 special-grid">
                                                <div class="products-single fix">
                                                    <div class="box-img-hover"
                                                         style="height: 250px; border: 1px solid black;">
                                                        {% if(value.giamgia > 0 and date(value.ngaykt) > date()) %}
                                                            <div class="type-lb">
                                                                <p class="sale">Sale off</p>
                                                            </div>
                                                        {% endif %}
                                                        <img  href="san-pham/{{ value['pro_name'] }}" onclick="callAjax('san-pham/{{ value['pro_name'] }}');" style="max-height: 100%;max-width: 100%; object-fit: contain;position: absolute;
                                                        margin: auto;top: 0;left: 0;right: 0;bottom: 0; cursor: pointer;"
                                                             src="{{ value['hinh'] }}"
                                                             class="img-fluid"
                                                             data-size="auto"
                                                             alt="Image">
                                                        {% if(checkLarge) %}<a class="bottom-right"
                                                           onclick="setCart({{ value.id }}, '{{ value.pro_name }}', '{{ value.tensp }}','{{ value.hinh }}',{{ value.gia }},{{ value.giamgia }}, 1, '{{ value.ngaykt }}');"
                                                           class="cart" href="">Thêm Vào Giỏ Hàng</a>
                                                        {% endif %}

                                                    </div>
                                                    <div class="why-text">
                                                        <h4>{{ value['tensp'] }}</h4>
                                                        <h5>
                                                            {% if(checkLarge) %}
                                                                {% if(value['giamgia'] > 0 and date(value['ngaykt']) > date()) %}
                                                                    <del>{{ value['gia']|number_format() }}</del>
                                                                    {{ (value['gia']*(100-(value['giamgia']))/100)|number_format() }}
                                                                {% else %}
                                                                    {{ (value['gia'])|number_format() }}
                                                                {% endif %}
                                                                VND
                                                            {% endif %}
                                                        </h5>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-scroller py-1 mb-2">
            <nav class="nav d-flex justify-content-center">
                <ul class="pagination flex-sm-wrap pagination-lg">
                    {% set checkSmaller = (renderData.discounts.current_page > 1) %}
                    <li class="page-item {{ checkSmaller ? '' : 'disabled' }}"
                       {% if(checkSmaller) %} onclick="callAjax('khuyen-mai/trang/{{ renderData.discounts.current_page - 1 }}');" {% endif %}>
                        <a class="page-link" href="#">«</a>
                    </li>
                    <li class="page-item active">
                        <span class="page-link">
                            {{ renderData.discounts.current_page }}
                            <span class="sr-only">(current)</span>
                        </span>
                    </li>
                    {% if(renderData.discounts.current_page + 1) <= renderData.discounts.last_page %}
                        <li class="page-item"
                            onclick="callAjax('khuyen-mai/trang/{{ renderData.discounts.current_page + 1 }}');">
                            <a class="page-link" href="#">{{ renderData.discounts.current_page + 1 }}</a>
                        </li>
                    {% endif %}
                    {% if(renderData.discounts.current_page + 2) <= renderData.discounts.last_page %}
                        <li class="page-item"
                            onclick="callAjax('khuyen-mai/trang/{{ renderData.discounts.current_page + 2 }}');">
                            <a class="page-link" href="#">{{ renderData.discounts.current_page + 2 }}</a>
                        </li>
                    {% endif %}
                    {% if(renderData.discounts.current_page + 3) <= renderData.discounts.last_page %}
                        <li class="page-item"
                            onclick="callAjax('khuyen-mai/trang/{{ renderData.discounts.current_page + 3 }}');">
                            <a class="page-link" href="#">{{ renderData.discounts.current_page + 3 }}</a>
                        </li>
                    {% endif %}
                    {% set checkLarger = (renderData.discounts.last_page - renderData.discounts.current_page > 0) %}
                    <li class="page-item {{ checkLarger ? '' : 'disabled' }}"
                       {% if(checkLarger) %} onclick="callAjax('khuyen-mai/trang/{{ renderData.discounts.current_page + 1 }}');" {% endif %}>
                        <a class="page-link" href="#">»</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
{% endif %}
<script type="application/javascript">
    document.title = '{{ renderData.title_head }} - ' + title_default;
    var arr = [];
    {% for value in renderData.discounts.data %}
        arr.push('{{ value['hinh'] }}');
    {% endfor %}
    preloadImages(arr);
</script>

