{% if(renderData.is_Ajax == true) %}
    <script type="application/javascript">
        PreventLink();
    </script>
{% endif %}
<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>CreatorVN</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a onclick="callAjax('');" href="">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Giới thiệu</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<!-- Start About Page  -->
<div class="col-lg-12">
    <div class="article-inner" id="policy-content">
        <div class="container">
            <div class="row">
                {% include 'user/intro/content.twig' %}
            </div>
        </div>
    </div>
</div>
<!-- End About Page -->
<script type="application/javascript">
    document.title = '{{ renderData.title_head }} - ' + title_default;
</script>