#chartdiv {
	width		: 100%;
	height		: 500px;
	font-size	: 11px;
}		

/* img {
	width: 600px;
	height: 400px;
	border: solid
} */

/*input[type="file"] {*/
	/*margin-top: 5%;*/
/*}*/

div.dataTables_wrapper div.dataTables_length select {
    width: 75px !important;
}

/*.form-control{*/
	/*width		: 400px !important;*/
/*}	*/

div.dataTables_wrapper {
	width: 100%; 
	margin: 0 auto;
}
