{% extends '../base.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="css/admin.dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="css/admin.css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="js/admin.jquery.dataTables.min.js"></script>
    <script src="js/admin.dataTables.bootstrap.min.js"></script>
    <script src="js/admin.jquery.canvasjs.min.js"></script>
    <script src="vendor/tinymce/tinymce.min.js"></script>
    {#<script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>#}
    <script src="js/admin.js"></script>
{% endblock %}

{% block container %}
    <nav class="navbar navbar-default navbar-fixed-top">

        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand">Admin Dashboard</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <strong id="tenhienthi-Txt">{{ renderData.tenhienthi }}</strong>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#" data-toggle="modal" data-target="#myModal">Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-sm">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Logout</h4>
                </div>
                <div class="modal-body">
                    <p>Bạn có chắc là muốn logout không?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button id="logout-submit" name="logout-submit" type="button" class="btn btn-danger"
                            data-dismiss="modal">Yes
                    </button>
                </div>
            </div>

        </div>
    </div>

    <div class="container" style="width: 90%; margin: 0 auto;">
        <ul class="nav nav-pills" style="margin:5% 20% 0 20%;">
            <li class="active">
                <a data-toggle="tab" href="#home">Home</a>
            </li>
            <li id="hoadon_tab">
                <a data-toggle="tab" href="#hoadon">Hóa đơn (
                    <span style="color: red;" id="hoadon-unseen">0</span> )</a>
            </li>
            <li id="taikhoan_tab" {% if(renderData.isAdmin != true) %} class="hidden" {% endif %}>
                <a data-toggle="tab" href="#taikhoan">Tài khoản</a>
            </li>
            <li id="loaisanpham_tab">
                <a data-toggle="tab" href="#loaisanpham">Loại sản phẩm</a>
            </li>
            <li id="sanpham_tab">
                <a data-toggle="tab" href="#sanpham">Sản phẩm</a>
            </li>
            <li id="haumai_tab">
                <a data-toggle="tab" href="#haumai">Hậu mãi</a>
            </li>
            <li id="baiviet_tab">
                <a data-toggle="tab" href="#baiviet">Bài viết</a>
            </li>
            <li id="gioithieu_tab">
                <a data-toggle="tab" href="#gioithieu">Giới thiệu</a>
            </li>
            <li id="vechungtoi_tab">
                <a data-toggle="tab" href="#vechungtoi">Về chúng tôi</a>
            </li>
            <li id="chinhsach_tab">
                <a data-toggle="tab" href="#chinhsach">Chính sách</a>
            </li>
            <li id="theme_tab">
                <a data-toggle="tab" href="#theme">Theme</a>
            </li>
            <li id="sanphamthucte_tab">
                <a data-toggle="tab" href="#sanphamthucte">Sản phẩm thực tế</a>
            </li>
            <li id="dichvu_tab">
                <a data-toggle="tab" href="#dichvu">Dịch vụ</a>
            </li>
            <li id="hotro_tab">
                <a data-toggle="tab" href="#hotro">Hỗ trợ</a>
            </li>
        </ul>
        <div class="tab-content" style="margin-bottom: 10%;">
            <div id="home" class="tab-pane fade in active">
                <hr/>
                <div id="benefits" style="height: 300px; width: 100%;"></div>
                <hr/>
            </div>
            <div id="hoadon" class="tab-pane fade">
                <hr/>
                <form style="width: 20%;">
                    <div class="row" style="width: 1216px;">
                        <div class="form-group col-xs-4">
                            <label for="hoadon-id-Txt">ID</label>
                            <input readonly="true" class="form-control data-fix" type="text" id="hoadon-id-Txt">
                        </div>
                        <div class="form-group col-xs-4">
                            <label for="hoadon-ngaygiao-Date">Ngày giao</label>
                            <input type="datetime-local" class="form-control data-fix" id="hoadon-ngaygiao-Date">
                        </div>
                        <div class="form-group col-xs-4">
                            <label for="hoadon-tinhtrang-Select">Tình trạng </label>
                            <select type="text" class="form-control" id="hoadon-tinhtrang-Select">
                                <option value="0">Chưa giao</option>
                                <option value="1">Đã giao</option>
                                <option value="-1">Hủy(bởi shop)</option>
                            </select>
                        </div>
                    </div>
                    <div id="hoadon-chitiethoadon" style="width: 400%;" hidden>
                        <div class="form-group">
                            <label for="chitiethoadon-table">Chi tiết hóa đơn</label>
                        </div>
                        <table id='chitiethoadon-table'
                               class="table table-striped table-bordered dataTable chitiehoadon">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Tên sản phẩm</th>
                                <th>Giá</th>
                                <th>Số lượng</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Tên sản phẩm</th>
                                <th>Giá</th>
                                <th>Số lượng</th>
                            </tr>
                            </tfoot>
                            <!--  Dưới script có viết code đọc nội dung chèn vào tbody là  async function setLoaiSanPham()-->
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </form>
                <div class="text-center">
                    <button type="button" class="btn btn-warning" id="hoadon-sua-Btn">Sửa</button>
                    <button type="button" class="btn btn-danger" id="hoadon-xoa-Btn">Xóa</button>
                </div>
                <hr/>
                <table id='hoadon-table' class="table table-striped table-bordered dataTable display nowrap"
                       style="width: 100%; margin: 0 auto;">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Mã hậu mãi</th>
                        <th>Họ tên KH</th>
                        <th>Email</th>
                        <th>SĐT</th>
                        <th>Địa chỉ</th>
                        <th>Tổng tiền</th>
                        <th>Tình trạng</th>
                        <th>Ngày giao</th>
                        <th>Ngày đặt</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Mã hậu mãi</th>
                        <th>Họ tên KH</th>
                        <th>Email</th>
                        <th>SĐT</th>
                        <th>Địa chỉ</th>
                        <th>Tổng tiền</th>
                        <th>Tình trạng</th>
                        <th>Ngày giao</th>
                        <th>Ngày đặt</th>
                    </tr>
                    </tfoot>
                    <!--  Dưới script có viết code đọc nội dung chèn vào tbody là  async function setLoaiSanPham()-->
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div id="taikhoan" class="tab-pane fade {% if(renderData.isAdmin != true) %} hidden {% endif %}">
                <hr/>
                <form style="width: 20%;">
                    <div class="row" style="width: 1216px;">
                        <div class="form-group col-xs-1">
                            <label for="taikhoan-id-Txt">ID</label>
                            <input readonly="true" class="form-control data-fix" type="text" id="taikhoan-id-Txt">
                        </div>
                        <div class="form-group col-xs-4">
                            <label for="taikhoan-tenhienthi-Txt">Tên hiển thị </label>
                            <input maxlength="20" type="text" class="form-control data-fix"
                                   id="taikhoan-tenhienthi-Txt">
                        </div>
                        <div class="form-group col-xs-4">
                            <label for="taikhoan-matkhau-Txt">Mật khẩu </label>
                            <input maxlength="20" type="text" class="form-control data-fix" id="taikhoan-matkhau-Txt">
                        </div>
                        <div class="form-group col-xs-3">
                            <label for="taikhoan-vaitro-Select">Loại tài khoản </label>
                            <select type="text" class="form-control" id="taikhoan-vaitro-Select">
                                <option value="0">USER</option>
                                <option value="1">ADMIN</option>
                            </select>
                        </div>
                    </div>
                </form>
                <div class="text-center">
                    <button type="button" class="btn btn-success" id="taikhoan-them-Btn">Thêm mới</button>
                    <button type="button" class="btn btn-warning" id="taikhoan-sua-Btn">Sửa</button>
                    <button type="button" class="btn btn-danger" id="taikhoan-xoa-Btn">Xóa</button>
                    <button type="button" class="btn btn-info" onclick="clearCache();">Hủy(clear cache)</button>
                </div>
                <hr/>
                <table id='taikhoan-table' class="table table-striped table-bordered dataTable">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tên hiển thị</th>
                        <th>Mật khẩu</th>
                        <th>Vài trò</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Tên hiển thị</th>
                        <th>Mật khẩu</th>
                        <th>Vài trò</th>
                    </tr>
                    </tfoot>
                    <!-- Dưới có code script cho nội dung tbody async function setPhienDauGia() -->
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div id="loaisanpham" class="tab-pane fade">
                <hr/>
                <form style="width: 20%;">
                    <div class="row" style="width: 1216px;">
                        <div class="form-group col-xs-4">
                            <label for="loaisanpham-id-Txt">ID</label>
                            <input readonly="true" class="form-control data-fix" type="text" id="loaisanpham-id-Txt">
                        </div>
                        <div class="form-group col-xs-4">
                            <label for="loaisanpham-tenloaisp0-Txt">Tên loại sản phẩm 0</label>
                            <input type="text" class="form-control data-fix" id="loaisanpham-tenloaisp0-Txt">
                        </div>
                        <div class="form-group col-xs-4">
                            <label for="loaisanpham-tenloaisp-Txt">Tên loại sản phẩm</label>
                            <input type="text" class="form-control data-fix" id="loaisanpham-tenloaisp-Txt">
                        </div>
                        <div class="form-group col-xs-4">
                            <label for="loaisanpham-hinh-Img">Ảnh đại diện</label>
                            <input type="file" accept="image/*" class="form-control data-fix" name="loaisanpham-hinh-File"
                                   id="loaisanpham-hinh-File">
                            <div style="padding-top: 15px;">
                                <a style="padding: 10px;" id="loaisanpham-hinh-Link" class="data-fix" target="_blank"
                                   rel="noopener noreferrer"
                                   href=""></a>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="text-center">
                    <button type="button" class="btn btn-success" id="loaisanpham-them-Btn">Thêm mới</button>
                    <button type="button" class="btn btn-warning" id="loaisanpham-sua-Btn">Sửa</button>
                    <button type="button" class="btn btn-danger" id="loaisanpham-xoa-Btn">Xóa</button>
                    <button type="button" class="btn btn-info" onclick="clearCache();">Hủy(clear cache)</button>
                </div>
                <hr/>
                <table id='loaisanpham-table' class="table table-striped table-bordered dataTable display nowrap"
                       style="width: 100%; margin-left: 0;">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tên loại sản phẩm 0</th>
                        <th>Tên loại sản phẩm</th>
                        <th>Hình</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Tên loại sản phẩm 0</th>
                        <th>Tên loại sản phẩm</th>
                        <th>Hình</th>
                    </tr>
                    </tfoot>
                    <!--  Dưới script có viết code đọc nội dung chèn vào tbody là  async function setLoaiSanPham()-->
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div id="sanpham" class="tab-pane fade">
                <hr/>
                <form style="width: 20%;">
                    <div class="row" style="width: 1216px;">
                        <div class="form-group col-xs-4">
                            <label for="sanpham-id-Txt">ID</label>
                            <input readonly="true" class="form-control data-fix" type="text" id="sanpham-id-Txt">
                        </div>
                        <div class="form-group col-xs-4">
                            <label for="sanpham-tensp-Txt">Tên sản phẩm </label>
                            <input type="text" class="form-control data-fix" id="sanpham-tensp-Txt">
                        </div>
                        <div class="form-group col-xs-4">
                            <label for="sanpham-tenloaisp-Select">Tên loại sản phẩm</label>
                            <select class="form-control" name="sanpham-tenloaisp-Select"
                                    id="sanpham-tenloaisp-Select"></select>
                        </div>
                    </div>
                    <div class="row" style="width: 1216px;">
                        <div class="form-group col-xs-4">
                            <label for="sanpham-hinh-Img">Hình đại diện</label>
                            <input type="file" accept="image/*" class="form-control data-fix" name="sanpham-hinh-File"
                                   id="sanpham-hinh-File">
                            <div style="padding-top: 15px;">
                                <a style="padding: 10px;" id="sanpham-hinh-Link" class="data-fix" target="_blank"
                                   rel="noopener noreferrer"
                                   href=""></a>
                            </div>
                        </div>
                        <div class="form-group col-xs-4">
                            <label for="">Hình bổ sung</label>
                            <input type="file" accept="image/*" multiple class="form-control data-fix" name="sanpham-hinh-Files[]"
                                   id="sanpham-hinh-Files">
                        </div>
                        <div class="form-group col-xs-4">
                            <table id="hinh-list" class="form-group"></table>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="sanpham-dacta-TextArea">Đặc tả</label>
                        <textarea type="text" class="form-control data-fix" id="sanpham-dacta-TextArea"></textarea>
                    </div>
                    <div class="row" style="width: 1216px;">
                        <div class="form-group col-xs-4">
                            <label for="sanpham-gia-Txt">Giá(vnđ)</label>
                            <input type="number" min="0" step="100000" class="form-control data-fix"
                                   id="sanpham-gia-Txt">
                        </div>
                        <div class="form-group col-xs-4">
                            <label for="sanpham-soluongviews-Txt">Số lượng views</label>
                            <input type="number" min="0" step="5" class="form-control data-fix"
                                   id="sanpham-soluongviews-Txt">
                        </div>
                        <div class="form-group col-xs-4">
                            <label for="sanpham-soluongban-Txt">Số lượng bán</label>
                            <input type="number" min="0" step="5" class="form-control data-fix"
                                   id="sanpham-soluongban-Txt">
                        </div>
                    </div>
                    <div class="row" style="width: 1216px;">
                        <div class="form-group col-xs-4">
                            <label for="sanpham-giamgia-Txt">Giảm giá(%)</label>
                            <input type="number" value="0" min="0" step="5" class="form-control data-fix"
                                   id="sanpham-giamgia-Txt">
                        </div>
                        <div class="form-group col-xs-4">
                            <label for="sanpham-ngaykt-Date">Ngày kết thúc giảm giá</label>
                            <input type="datetime-local" class="form-control data-fix" id="sanpham-ngaykt-Date" Ngày kết
                                   thúc giảm giá>
                        </div>
                    </div>
                </form>
                <div class="text-center">
                    <button type="button" class="btn btn-success" id="sanpham-them-Btn">Thêm mới</button>
                    <button type="button" class="btn btn-warning" id="sanpham-sua-Btn">Sửa</button>
                    <button type="button" class="btn btn-danger" id="sanpham-xoa-Btn">Xóa</button>
                    <button type="button" class="btn btn-info" onclick="clearCache();">Hủy(clear cache)</button>
                </div>
                <hr/>
                <table id='sanpham-table' class="table table-striped table-bordered dataTable display nowrap"
                       style="width: 100%; margin: 0 auto;">
                    <thead>
                    <tr>
                        <th>Created_At</th>
                        <th>ID</th>
                        <th>Tên SP</th>
                        <th>Tên loại SP</th>
                        <th>Hình đại diện</th>
                        <th>Đặc tả</th>
                        <th>Giá</th>
                        <th>SL views</th>
                        <th>SL bán</th>
                        <th>Giảm giá</th>
                        <th>Ngày KT</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Created_At</th>
                        <th>ID</th>
                        <th>Tên SP</th>
                        <th>Tên loại SP</th>
                        <th>Hình đại diện</th>
                        <th>Đặc tả</th>
                        <th>Giá</th>
                        <th>Số lượng views</th>
                        <th>Số lượng bán</th>
                        <th>Giảm giá</th>
                        <th>Ngày KT</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div id="haumai" class="tab-pane fade">
                <hr/>
                <form style="width: 20%;">
                    <div class="row" style="width: 1216px;">
                        <div class="form-group col-xs-1">
                            <label for="haumai-id-Txt">ID</label>
                            <input readonly="true" class="form-control data-fix" type="text" id="haumai-id-Txt">
                        </div>
                        <div class="form-group col-xs-3">
                            <label for="haumai-mahm-Txt">Mã hậu mãi(tự động phát sinh)</label>
                            <input type="text" class="form-control data-fix" id="haumai-mahm-Txt" disabled>
                        </div>
                        <div class="form-group col-xs-2">
                            <label for="haumai-phantram-Txt">Giảm giá(%)</label>
                            <input type="number" value="0" min="0" step="5" class="form-control data-fix"
                                   id="haumai-phantram-Txt">
                        </div>
                        <div class="form-group col-xs-2">
                            <label for="haumai-dasudung-Select">Tình trạng </label>
                            <select type="text" class="form-control" id="haumai-dasudung-Select">
                                <option value="0">Chưa sử dụng</option>
                                <option value="1">Đã sử dụng</option>
                            </select>
                        </div>
                        <div class="form-group col-xs-3">
                            <label for="haumai-ngaykt-Date">Ngày kết thúc giảm giá</label>
                            <input type="datetime-local" class="form-control data-fix" id="haumai-ngaykt-Date">
                        </div>
                    </div>
                </form>
                <div class="text-center">
                    <button type="button" class="btn btn-success" id="haumai-them-Btn">Thêm mới</button>
                    <button type="button" class="btn btn-warning" id="haumai-sua-Btn">Sửa</button>
                    <button type="button" class="btn btn-danger" id="haumai-xoa-Btn">Xóa</button>
                    <button type="button" class="btn btn-info" onclick="clearCache();">Hủy(clear cache)</button>
                </div>
                <hr/>
                <table id='haumai-table' class="table table-striped table-bordered dataTable">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Mã hậu mãi</th>
                        <th>Phần trăm</th>
                        <th>Tình trạng</th>
                        <th>Ngày KT</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Mã hậu mãi</th>
                        <th>Phần trăm</th>
                        <th>Tình trạng</th>
                        <th>Ngày KT</th>
                    </tr>
                    </tfoot>
                    <!--  Dưới script có viết code đọc nội dung chèn vào tbody là  async function setLoaiSanPham()-->
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div id="baiviet" class="tab-pane fade">
                <hr/>
                <form style="width: 20%;">
                    <div class="row" style="width: 1216px;">
                        <div class="form-group col-xs-4">
                            <label for="baiviet-id-Txt">ID</label>
                            <input readonly="true" class="form-control data-fix" type="text" id="baiviet-id-Txt">
                        </div>
                        <div class="form-group col-xs-4">
                            <label for="baiviet-tieude-Txt">Tiêu đề</label>
                            <input type="text" class="form-control data-fix" id="baiviet-tieude-Txt">
                        </div>
                    </div>
                    <div class="row" style="width: 1216px;">
                        <div class="form-group col-xs-4">
                            <label for="baiviet-media-Select">Media</label>
                            <select type="text" class="form-control" id="baiviet-media-Select">
                                <option value="0">Ảnh</option>
                                <option value="1">Video</option>
                            </select>
                        </div>
                        <div class="form-group col-xs-4" id="baiviet-img">
                            <label for="baiviet-hinh-Img">Ảnh cho nội dung ngắn gọn</label>
                            <input type="file" accept="image/*" class="form-control data-fix" name="baiviet-hinh-File"
                                   id="baiviet-hinh-File">
                            <div style="padding-top: 15px;">
                                <a style="padding: 10px;" id="baiviet-hinh-Link" class="data-fix" target="_blank"
                                   rel="noopener noreferrer"
                                   href=""></a>
                            </div>
                        </div>
                        <div class="form-group col-xs-4" id="baiviet-duongdan" hidden>
                            <label for="baiviet-duongdan-Txt">Đường dẫn nội dung ngắn gọn</label>
                            <input type="text" class="form-control data-fix" id="baiviet-duongdan-Txt">
                        </div>
                        <div class="form-group col-xs-4">
                            <label for="baiviet-link-Txt">Link bài viết(Nếu có)</label>
                            <input type="text" class="form-control data-fix" id="baiviet-link-Txt">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="baiviet-noidung-TextArea">Nội dung ngắn ngọn</label>
                        <textarea type="text" class="form-control data-fix" id="baiviet-noidung-TextArea"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="baiviet-chitiet-TextArea">Nội dung chi tiết</label>
                        <textarea type="text" class="form-control data-fix fullWidth"
                                  id="baiviet-chitiet-TextArea"></textarea>
                    </div>
                </form>
                <div class="text-center">
                    <button type="button" class="btn btn-success" id="baiviet-them-Btn">Thêm mới</button>
                    <button type="button" class="btn btn-warning" id="baiviet-sua-Btn">Sửa</button>
                    <button type="button" class="btn btn-danger" id="baiviet-xoa-Btn">Xóa</button>
                    <button type="button" class="btn btn-info" onclick="clearCache();">Hủy(clear cache)</button>
                </div>
                <hr/>
                <table id='baiviet-table' class="table table-striped table-bordered dataTable display nowrap"
                       style="width: 100%;">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tiêu đề</th>
                        <th>Nội dung ngắn gọn</th>
                        <th>Nội dung chi tiết</th>
                        <th>Media</th>
                        <th>Đường dẫn</th>
                        <th>Link bài viết</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Tiêu đề</th>
                        <th>Nội dung ngắn ngọn</th>
                        <th>Nội dung chi tiết</th>
                        <th>Media</th>
                        <th>Đường dẫn</th>
                        <th>Link bài viết</th>
                    </tr>
                    </tfoot>
                    <!--  Dưới script có viết code đọc nội dung chèn vào tbody là  async function setLoaiSanPham()-->
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div id="gioithieu" class="tab-pane fade">
                <hr/>
                <div class="form-group">
                    <label for="gioithieu-noidung-TextArea">Nội dung</label>
                    <textarea class="fullWidth" type="text" class="form-control data-fix"
                              id="gioithieu-noidung-TextArea"></textarea>
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-success" id="gioithieu-edit-Btn">Chỉnh Sửa</button>
                </div>
            </div>
            <div id="vechungtoi" class="tab-pane fade">
                <hr/>
                <div class="form-group">
                    <label for="vechungtoi-noidung-TextArea">Nội dung</label>
                    <textarea class="fullWidth" type="text" class="form-control data-fix"
                              id="vechungtoi-noidung-TextArea"></textarea>
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-success" id="vechungtoi-edit-Btn">Chỉnh Sửa</button>
                </div>
            </div>
            <div id="chinhsach" class="tab-pane fade">
                <hr/>
                <div class="form-group">
                    <label for="chinhsach-noidung-TextArea">Nội dung</label>
                    <textarea class="fullWidth" type="text" class="form-control data-fix"
                              id="chinhsach-noidung-TextArea"></textarea>
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-success" id="chinhsach-edit-Btn">Chỉnh Sửa</button>
                </div>
            </div>
            <div id="theme" class="tab-pane fade">
                <hr/>
                <div class="row" style="width: 1216px;">
                    <div class="form-group col-xs-3">
                        <label for="theme-id-Txt">ID</label>
                        <input readonly="true" class="form-control data-fix" type="text" id="theme-id-Txt">
                    </div>
                    <div class="form-group col-xs-3">
                        <label for="theme-hienthi-Select">Hiển thị ra màn hình</label>
                        <select type="text" class="form-control" id="theme-hienthi-Select">
                            <option value="0">Không</option>
                            <option value="1">Có</option>
                        </select>

                    </div>
                    <div class="form-group col-xs-4" id="baiviet-img">
                        <label for="theme-hinh-Img">Ảnh cho nội dung ngắn gọn</label>
                        <input type="file" accept="image/*" class="form-control data-fix" name="theme-hinh-File"
                               id="theme-hinh-File">
                        <div style="padding-top: 15px;">
                            <a style="padding: 10px;" id="theme-hinh-Link" class="data-fix" target="_blank"
                               rel="noopener noreferrer"
                               href=""></a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="theme-noidung-TextArea">Nội dung</label>
                    <textarea type="text" class="form-control data-fix" id="theme-noidung-TextArea"></textarea>
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-success" id="theme-them-Btn">Thêm mới</button>
                    <button type="button" class="btn btn-warning" id="theme-sua-Btn">Sửa</button>
                    <button type="button" class="btn btn-danger" id="theme-xoa-Btn">Xóa</button>
                    <button type="button" class="btn btn-info" onclick="clearCache();">Hủy(clear cache)</button>
                </div>
                <hr/>
                <table id='theme-table' class="table table-striped table-bordered dataTable display nowrap"
                       style="width: 100%;">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tên Hình</th>
                        <th>Nội dung ngắn gọn</th>
                        <th>Hiển thị</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Tên Hình</th>
                        <th>Nội dung ngắn gọn</th>
                        <th>Hiển thị</th>
                    </tr>
                    </tfoot>
                    <!--  Dưới script có viết code đọc nội dung chèn vào tbody là  async function setLoaiSanPham()-->
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div id="sanphamthucte" class="tab-pane fade">
                <hr/>
                <form style="width: 20%;">
                    <div class="row" style="width: 1216px;">
                        <div class="form-group col-xs-4">
                            <label for="sanphamthucte-id-Txt">ID</label>
                            <input readonly="true" class="form-control data-fix" type="text" id="sanphamthucte-id-Txt">
                        </div>
                        <div class="form-group col-xs-4">
                            <label for="sanphamthucte-tensp-Txt">Tiêu đề </label>
                            <input type="text" class="form-control data-fix" id="sanphamthucte-tensp-Txt">
                        </div>
                    </div>
                    <div class="row" style="width: 1216px;">
                        <div class="form-group col-xs-4">
                            <label for="">Hình bổ sung</label>
                            <input type="file" accept="image/*" multiple class="form-control data-fix" name="sanphamthucte-hinh-Files[]"
                                   id="sanphamthucte-hinh-Files">
                        </div>
                        <div class="form-group col-xs-4">
                            <table id="hinh-list-sanphamthucte" class="form-group"></table>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="sanphamthucte-dacta-TextArea">Nội dung</label>
                        <textarea type="text" class="form-control data-fix"
                                  id="sanphamthucte-dacta-TextArea"></textarea>
                    </div>
                </form>
                <div class="text-center">
                    <button type="button" class="btn btn-success" id="sanphamthucte-them-Btn">Thêm mới</button>
                    <button type="button" class="btn btn-warning" id="sanphamthucte-sua-Btn">Sửa</button>
                    <button type="button" class="btn btn-danger" id="sanphamthucte-xoa-Btn">Xóa</button>
                    <button type="button" class="btn btn-info" onclick="clearCache();">Hủy(clear cache)</button>
                </div>
                <hr/>
                <table id='sanphamthucte-table' class="table table-striped table-bordered dataTable display nowrap"
                       style="width: 100%; margin: 0 auto;">
                    <thead>
                    <tr>
                        <th>Created_At</th>
                        <th>ID</th>
                        <th>Tiêu đề</th>
                        <th>Nội dung</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Created_At</th>
                        <th>ID</th>
                        <th>Tiêu đề</th>
                        <th>Nội dung</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div id="dichvu" class="tab-pane fade">
                <hr/>
                <div class="form-group col-xs-12">
                <a target="_blank" href="https://tinypng.com/developers">Link for tinypng, you can change your key api by new mail if times is out of date in this month or wait for next month.</a>
                </div>
                <div class="form-group col-xs-12">
                    <a id="optimze-product"  data-count="{{ renderData.product }}" href="">Optimize your products images({{ renderData.product }}) now.</a>
                </div>
                <div class="form-group col-xs-12">
                    <a id="optimze-theme" data-count="{{ renderData.theme }}" href="">Optimize your themes images({{ renderData.theme }}) now.</a>
                </div>
                <div class="form-group col-xs-12">
                    <a id="optimze-category" data-count="{{ renderData.category }}" href="">Optimize your categories images({{ renderData.category }}) now.</a>
                </div>
                <div class="form-group col-xs-12">
                    <a id="optimze-blog" data-count="{{ renderData.blog }}" href="">Optimize your blogs images({{ renderData.blog }}) now.</a>
                </div>
                <div class="form-group col-xs-12">
                    <a id="optimze-practical" data-count="{{ renderData.practical }}" href="">Optimize your practicals images({{ renderData.practical }}) now.</a>
                </div>
                <div class="form-group col-xs-12">
                    <a id="optimze-extend" data-count="{{ renderData.extend }}" href="">Optimize your extend images({{ renderData.extend }}) now.</a>
                </div>
                <div class="form-group col-xs-12">
                    <a id="remove-unused-images" href="">Remove unused images now.</a>
                </div>
                <div class="row" style="width: 1216px;">
                    <div class="form-group col-xs-1">
                        <label for="dichvu-keyApi-Txt">API Key</label>
                    </div>
                    <div class="form-group col-xs-4">
                        <input class="form-control data-fix" type="text" id="dichvu-keyApi-Txt">
                    </div>
                    <div class="form-group col-xs-2">
                        <label for="dichvu-keyApiTimes-Txt">Số lần compressions</label>
                    </div>
                    <div class="form-group col-xs-1">
                        <input readonly class="form-control data-fix" type="text" id="dichvu-keyApiTimes-Txt">
                    </div>
                    <div class="form-group col-xs-4">
                        <button type="button" class="btn btn-success" id="dichvu-keyApi-Btn">Cập nhật</button>
                    </div>
                </div>
                <div class="row" style="width: 1216px;">
                    <div class="form-group col-xs-2">
                        <label for="">Hình opimize</label>
                    </div>
                    <div class="form-group col-xs-3">
                        <input type="file" accept="image/*" multiple class="form-control data-fix"
                               name="optimze-hinh-Files[]"
                               id="optimze-hinh-Files">
                    </div>
                    <div class="form-group col-xs-2">
                        <button type="button" class="btn btn-default" id="optimze-images">Opimize</button>
                    </div>
                    <div class="form-group col-xs-4">
                        <a id="link-files-zip" href=""></a>
                    </div>
                </div>
            </div>
             <div id="hotro" class="tab-pane fade">
                 <hr/>
                 <form style="width: 20%;">
                     <div class="row" style="width: 1216px;">
                         <div class="form-group col-xs-1">
                             <label for="hotro-id-Txt">ID</label>
                             <input readonly="true" class="form-control data-fix" type="text" id="hotro-id-Txt">
                         </div>
                         <div class="form-group col-xs-4">
                             <label for="hotro-tieude-Txt">Tiêu đề </label>
                             <input type="text" class="form-control data-fix" id="hotro-tieude-Txt">
                         </div>
                         <div class="form-group col-xs-4">
                             <label for="">Hình(icon)</label>
                             <input type="file" accept="image/*" class="form-control data-fix" name="hotro-hinh-Files[]"
                                    id="hotro-hinh-File">
                             <div style="padding-top: 15px;">
                                 <a style="padding: 10px;" id="hotro-hinh-Link" class="data-fix" target="_blank"
                                    rel="noopener noreferrer"
                                    href=""></a>
                             </div>
                         </div>
                         <div class="form-group col-xs-4">
                             <table id="hinh-list-hotro" class="form-group"></table>
                         </div>
                     </div>
                     <div class="form-group">
                         <label for="hotro-noidung-TextArea">Nội dung</label>
                         <textarea type="text" class="form-control data-fix"
                                   id="hotro-noidung-TextArea"></textarea>
                     </div>
                     <div class="text-center">
                         <button type="button" class="btn btn-warning" id="hotro-sua-Btn">Sửa</button>
                         <button type="button" class="btn btn-info" onclick="clearCache();">Hủy(clear cache)</button>
                     </div>
                 </form>
                 <hr/>
                 <table id='hotro-table' class="table table-striped table-bordered dataTable display nowrap"
                        style="width: 100%; margin: 0 auto;">
                     <thead>
                     <tr>
                         <th>ID</th>
                         <th>Tiêu đề</th>
                         <th>Nội dung</th>
                         <th>Hình</th>
                     </tr>
                     </thead>
                     <tfoot>
                     <tr>
                         <th>ID</th>
                         <th>Tiêu đề</th>
                         <th>Nội dung</th>
                         <th>Hình</th>
                     </tr>
                     </tfoot>
                     <tbody>
                     </tbody>
                 </table>
             </div>
        </div>
    </div>
    <div class="navbar navbar-default navbar-fixed-bottom" style="margin-top: 100px;background-color: rgb(77, 65, 65);">
        <div class="container">
            <ul class="nav navbar-nav">
                <li>
                    <a style="color:#000;font-size:14px;">
                        <strong class=""> CreatorVN {{ "now"|date("d/m/Y") }} (c) </strong>
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
{% block extra_javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        $.ajaxSetup({
            headers: {
                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
            },
            beforeSend: function (xhr) {
                waitingDialog.show();
            },
        });

        $(document).ajaxStop(function () {
            waitingDialog.hide();
        });
    </script>
{% endblock %}