{% extends '../base.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="css/login.css">
{% endblock %}

{% block container %}
    <div class="container" style=" margin: 0 auto;">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-login">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12">
                                <a href="#" class="active" id="login-form-link">Login</a>
                            </div>
                            <hr>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form id="login-form" role="form" style="display: block;">
                                        <p id="tendangnhap-dangnhap-hople" class="error"></p>
                                        <div class="form-group">
                                            <input type="text" name="tendangnhap-dangnhap-Text"
                                                   id="tendangnhap-dangnhap-Text" tabindex="1" class="form-control"
                                                   placeholder="Username"
                                                   value="">
                                        </div>
                                        <p id="matkhau-dangnhap-hople" class="error"></p>
                                        <div class="form-group">
                                            <input type="password" name="matkhau-dangnhap-Text"
                                                   id="matkhau-dangnhap-Text" tabindex="2" class="form-control"
                                                   placeholder="Password">
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-6 col-sm-offset-3">
                                                    <input type="submit" name="login-submit" id="login-submit"
                                                           tabindex="4" class="form-control btn btn-login"
                                                           value="Log In">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_javascripts %}
    <script type="application/javascript">
        $('body').css('background-image', "url('images/logo/home.jpg')");
        $('#login-submit').click(function (e) {
            e.preventDefault();
            let tendangnhap = $.trim($('#tendangnhap-dangnhap-Text').val());
            if (!tendangnhap) {
                alert('Vui lòng nhập username');
                return;
            }
            let matkhau = $.trim($('#matkhau-dangnhap-Text').val());
            if (!matkhau) {
                alert('Vui lòng nhập password');
                return;
            }
            let data = new FormData();
            data.append('tenhienthi', tendangnhap);
            data.append('matkhau', matkhau);

            $.ajax({
                type: "POST",
                url: 'authen',
                processData: false,
                contentType: false,
                cache: false,
                dataType: 'json',
                data: data,
                headers: {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                },
                success: function (result) {
                    window.location.href = "/admin";
                },
                error: function (result) {
                    alert('Failed to login');
                }
            });
        });
    </script>
{% endblock %}

