<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>CreatorVN</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a onclick="callAjax('');return false;" href="">Trang chủ</a></li>
                    <li class="breadcrumb-item active">{{ renderData.tieude }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<div class="col-lg-12">
    <div class="article-inner" id="aboutus-content">
        <header class="entry-header">
            <div class="entry-header-text entry-header-text-top text-center">
                <h1 class="noo-sh-title" style="text-align: center;">
                    {{ renderData.tieude }}
                </h1>
            </div>
        </header>
        <div class="container">
            <div class="row" style="display: block;">
                {{ renderData.chitiet|raw }}
            </div>
        </div>
    </div>
</div>
<script type="application/javascript">
    document.title = '{{ renderData.tieude }} - ' + title_default;
</script>