{% if(renderData.is_Ajax == true) %}
    <script type="application/javascript">
        !function (a) { "use strict"; a(window).on("load", function () { a(".preloader").fadeOut(), a("#preloader").delay(550).fadeOut("slow"), a("body").delay(450).css({overflow: "visible"} ) } ), a(window).on("scroll", function () { 50 < a(window).scrollTop() ? a(".main-header").addClass("fixed-menu") : a(".main-header").removeClass("fixed-menu") } ), a("#slides-shop").superslides({ inherit_width_from: ".cover-slides", inherit_height_from: ".cover-slides", play: 5e3, animation: "fade" } ), a(".cover-slides ul li").append("<div class='overlay-background'></div>"), a(document).ready(function () { a(window).on("scroll", function () { 100 < a(this).scrollTop() ? a("#back-to-top").fadeIn() : a("#back-to-top").fadeOut() } ), a("#back-to-top").click(function () { return a("html, body").animate({scrollTop: 0} , 0), !1 } ) } ), a(".container").imagesLoaded(function () { a(".special-menu").on("click", "button", function () { a(this).addClass("active").siblings().removeClass("active"); var e = a(this).attr("data-filter"); o.isotope({filter: e} ) } ); var o = a(".special-list").isotope({itemSelector: ".special-grid"} ) } ), baguetteBox.run(".tz-gallery", {animation: "fadeIn", noScrollbars: !0} ), a(".offer-box").inewsticker({ speed: 3e3, effect: "fade", dir: "ltr", font_size: 13, color: "#ffffff", font_family: "Montserrat, sans-serif", delay_after: 1e3 } ), a(document).ready(function () { a('[data-toggle="tooltip"]').tooltip() } ), a(".main-instagram").owlCarousel({ loop: !0, margin: 0, dots: !1, autoplay: !0, autoplayTimeout: 3e3, autoplayHoverPause: !0, navText: ["<i class='fas fa-arrow-left'></i>", "<i class='fas fa-arrow-right'></i>"], responsive: { 0: {items: 2, nav: !0} , 600: {items: 4, nav: !0} , 1e3: {items: 8, nav: !0, loop: !0} } } ), a(".featured-products-box").owlCarousel({ loop: !0, margin: 0, dots: !1, autoplay: !0, autoplayTimeout: 3e3, autoplayHoverPause: !0, navText: ["<i class='fas fa-arrow-left'></i>", "<i class='fas fa-arrow-right'></i>"], responsive: { 0: {items: 1, nav: !0} , 600: {items: 3, nav: !0} , 1e3: {items: 4, nav: !0, loop: !0} } } ), a(document).ready(function () { a(window).on("scroll", function () { 100 < a(this).scrollTop() ? a("#back-to-top").fadeIn() : a("#back-to-top").fadeOut() } ), a("#back-to-top").click(function () { return a("html, body").animate({scrollTop: 0} , 600), !1 } ) } ), a(function () { a("#slider-range").slider({ range: !0, min: 0, max: 4e3, values: [1e3, 3e3], slide: function (e, o) { a("#amount").val("$" + o.values[0] + " - $" + o.values[1]) } } ), a("#amount").val("$" + a("#slider-range").slider("values", 0) + " - $" + a("#slider-range").slider("values", 1)) } ), a(".brand-box").niceScroll({cursorcolor: "#9b9b9c"} ) } (jQuery);
    </script>
    <script type="application/javascript">
        ValidNumber();
        PreventLink();
    </script>
{% endif %}
<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>CreatorVN</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a onclick="callAjax('');return false;" href="">Trang chủ</a></li>
                    <li class="breadcrumb-item active"><a onclick="callAjax('danh-muc/{{ renderData.product['tenloaisp_slug'] }}/trang/1');return false;" href="danh-muc/{{ renderData.product['tenloaisp_slug']}}/trang/1">{{ renderData.product['tenloaisp'] }}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<!-- Start Shop Detail  -->
<div class="shop-detail-box-main">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-5 col-md-6">
                <div id="carousel-{{ renderData.product['id'] }}" class="single-product-slider carousel slide"
                     data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active" style="height: 450px;">
                            <a href="{{ renderData.product['hinh'] }}">
                            <img style="max-height: 100%;max-width: 100%; object-fit: contain;position: absolute;
                        margin: auto;top: 0;left: 0;right: 0;bottom: 0;"
                                 class="d-block w-100"
                                 src="{{ renderData.product['hinh'] }}"
                                 alt="">
                            </a>
                        </div>
                        {% for value in renderData.imgs %}
                            <div class="carousel-item" style="height: 450px;">
                                <a href="{{ value['duongdan'] }}">
                                <img style="max-height: 100%;max-width: 100%; object-fit: contain;position: absolute;
                        margin: auto;top: 0;left: 0;right: 0;bottom: 0;"
                                     class="d-block w-100"
                                     src="{{ value['duongdan'] }}" alt="">
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carousel-{{ renderData.product['id'] }}" role="button"
                       data-slide="prev">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel-{{ renderData.product['id'] }}" role="button"
                       data-slide="next">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <span class="sr-only">Next</span>
                    </a>
                    <ol class="carousel-indicators">
                        {% set i = 1 %}
                        <li style="height: 65px;" data-target="#carousel-{{ renderData.product['id'] }}"
                            data-slide-to="0" class="active">
                            <img style="max-height: 100%;max-width: 100%; object-fit: contain;position: absolute;
                        margin: auto;top: 0;left: 0;right: 0;bottom: 0;" class="d-block w-100 img-fluid"
                                 src="{{ renderData.product['hinh'] }}" alt=""/>
                        </li>
                        {% for value in renderData.imgs %}
                            <li data-target="#carousel-{{ renderData.product['id'] }}" data-slide-to="{{ i }}">
                                <img style="height: 65px;" class="d-block w-100 img-fluid" src="{{ value['duongdan'] }}"
                                     alt=""/>
                            </li>
                            {% set i = i + 1 %}
                        {% endfor %}
                    </ol>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="single-product-details">
                    <h2>{{ renderData.product['tenloaisp']  ~' '~renderData.product['tensp'] }}</h2>
                    {% set checkLarge = (renderData.product['gia'] > 0) %}
                    <h5>
                        {% if(checkLarge) %}
                            {% if(renderData.product['giamgia'] > 0 and date(renderData.product['ngaykt']) > date()) %}
                            <del>{{ renderData.product['gia']|number_format() }}VND</del>
                                 {{ (renderData.product['gia']*(100-(renderData.product['giamgia']))/100)|number_format() }} VND
                            {% else %}
                                {{ (renderData.product['gia'])|number_format() }} VND
                            {% endif %}
                        {% else %}
                            <a class="linkSocial" href="tel:0977192691">0977.192.691(Ms. Hương)</a>
                        {% endif %}
                    </h5>
                    <h4>Mô tả về sản phẩm:</h4>
                    <p>{{ renderData.product['dacta'] |raw }}</p>
                    {% if(checkLarge) %}
                        <ul>
                            <li>
                                <div class="form-group quantity-box">
                                    <label class="control-label">Số lượng</label>
                                    <input style="width: 20% !important;" onkeypress="return isNumber(event);" id="amount-times-detail" class="form-control amount-times" value="1" min="1"
                                           max="20" type="number" data-bind="value:replyNumber">
                                </div>
                            </li>
                        </ul>
                        <div class="price-box-bar">
                            <div class="cart-and-bay-btn">
                                <a onclick="setCart({{ renderData.product.id }}, '{{ renderData.product.pro_name }}', '{{ renderData.product.tensp }}','{{ renderData.product.hinh }}',{{ renderData.product.gia }},{{ renderData.product.giamgia }},'#amount-times-detail');"
                                   class="btn hvr-hover" data-fancybox-close="" href="">Thêm Vào Giỏ Hàng</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>SẢN PHẨM LIÊN QUAN</h1>
                </div>
                <div class="featured-products-box owl-carousel owl-theme">
                    {% for value in renderData.lists %}
                        {% set checkLarge = (value['gia'] > 0) %}
                        <div class="item">
                            <div class="products-single fix">
                                <div class="box-img-hover" style="height: 250px; border: 1px solid black;">
                                    {% if(value.giamgia > 0 and date(value.ngaykt) > date()) %}
                                        <div class="type-lb">
                                            <p class="sale">Sale off</p>
                                        </div>
                                    {% endif %}
                                    <img href="san-pham/{{ value['pro_name'] }}" onclick="callAjax('san-pham/{{ value['pro_name'] }}');" style="max-height: 100%;max-width: 100%; object-fit: contain;position: absolute;
                                    margin: auto;top: 0;left: 0;right: 0;bottom: 0; cursor: pointer;"
                                         src="{{ value['hinh'] }}"
                                         class="zoom img-fluid"
                                         alt="Image">
                                    {% if(checkLarge) %}<a class="bottom-right"
                                                           onclick="setCart({{ value.id }}, '{{ value.pro_name }}', '{{ value.tensp }}','{{ value.hinh }}',{{ value.gia }},{{ value.giamgia }}, 1, '{{ value.ngaykt }}');"
                                                           class="cart" href="">Thêm Vào Giỏ Hàng</a>
                                    {% endif %}
                                </div>
                                <div class="why-text">
                                    <h4>{{ value['tensp'] }}</h4>
                                    <h5>
                                        {% if(checkLarge) %}
                                            {% if(value['giamgia'] > 0 and date(value['ngaykt']) > date()) %}
                                                <del>{{ value['gia']|number_format() }}</del>
                                                {{ (value['gia']*(100-(value['giamgia']))/100)|number_format() }}
                                            {% else %}
                                                {{ (value['gia'])|number_format() }}
                                            {% endif %}
                                            VND
                                        {% endif %}
                                    </h5>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<script type="application/javascript">
    document.title = '{{ renderData.title_head }} - ' + title_default;
    var arr = [];
    arr.push('{{ renderData.product['hinh'] }}');
    {% for value in renderData.lists %}
        arr.push('{{ value['hinh'] }}');
    {% endfor %}
    {% for value in renderData.imgs %}
        arr.push('{{ value['duongdan'] }}');
    {% endfor %}
    preloadImages(arr);

    $(document).ready(function() {
        $('.carousel-inner').magnificPopup({
            delegate: 'a',
            type: 'image',
            tLoading: 'Loading image #%curr%...',
            mainClass: 'mfp-img-mobile',
            gallery: {
                enabled: true,
                navigateByImgClick: true,
                preload: [0,1] {#Will preload 0 - before current, and 1 after the current image#}
            },
            image: {
                tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
                titleSrc: function(item) {
                    return '<small>by CreatorVN</small>';
                }
            }
        });
    });
</script>



