{% if(renderData.is_Ajax == true) %}
    <script type="application/javascript">
        !function (a) { "use strict"; a(window).on("load", function () { a(".preloader").fadeOut(), a("#preloader").delay(550).fadeOut("slow"), a("body").delay(450).css({overflow: "visible"} ) } ), a(window).on("scroll", function () { 50 < a(window).scrollTop() ? a(".main-header").addClass("fixed-menu") : a(".main-header").removeClass("fixed-menu") } ), a("#slides-shop").superslides({ inherit_width_from: ".cover-slides", inherit_height_from: ".cover-slides", play: 5e3, animation: "fade" } ), a(".cover-slides ul li").append("<div class='overlay-background'></div>"), a(document).ready(function () { a(window).on("scroll", function () { 100 < a(this).scrollTop() ? a("#back-to-top").fadeIn() : a("#back-to-top").fadeOut() } ), a("#back-to-top").click(function () { return a("html, body").animate({scrollTop: 0} , 0), !1 } ) } ), a(".container").imagesLoaded(function () { a(".special-menu").on("click", "button", function () { a(this).addClass("active").siblings().removeClass("active"); var e = a(this).attr("data-filter"); o.isotope({filter: e} ) } ); var o = a(".special-list").isotope({itemSelector: ".special-grid"} ) } ), baguetteBox.run(".tz-gallery", {animation: "fadeIn", noScrollbars: !0} ), a(".offer-box").inewsticker({ speed: 3e3, effect: "fade", dir: "ltr", font_size: 13, color: "#ffffff", font_family: "Montserrat, sans-serif", delay_after: 1e3 } ), a(document).ready(function () { a('[data-toggle="tooltip"]').tooltip() } ), a(".main-instagram").owlCarousel({ loop: !0, margin: 0, dots: !1, autoplay: !0, autoplayTimeout: 3e3, autoplayHoverPause: !0, navText: ["<i class='fas fa-arrow-left'></i>", "<i class='fas fa-arrow-right'></i>"], responsive: { 0: {items: 2, nav: !0} , 600: {items: 4, nav: !0} , 1e3: {items: 8, nav: !0, loop: !0} } } ), a(".featured-products-box").owlCarousel({ loop: !0, margin: 0, dots: !1, autoplay: !0, autoplayTimeout: 3e3, autoplayHoverPause: !0, navText: ["<i class='fas fa-arrow-left'></i>", "<i class='fas fa-arrow-right'></i>"], responsive: { 0: {items: 1, nav: !0} , 600: {items: 3, nav: !0} , 1e3: {items: 4, nav: !0, loop: !0} } } ), a(document).ready(function () { a(window).on("scroll", function () { 100 < a(this).scrollTop() ? a("#back-to-top").fadeIn() : a("#back-to-top").fadeOut() } ), a("#back-to-top").click(function () { return a("html, body").animate({scrollTop: 0} , 600), !1 } ) } ), a(function () { a("#slider-range").slider({ range: !0, min: 0, max: 4e3, values: [1e3, 3e3], slide: function (e, o) { a("#amount").val("$" + o.values[0] + " - $" + o.values[1]) } } ), a("#amount").val("$" + a("#slider-range").slider("values", 0) + " - $" + a("#slider-range").slider("values", 1)) } ), a(".brand-box").niceScroll({cursorcolor: "#9b9b9c"} ) } (jQuery);
    </script>
    <script type="application/javascript">
        PreventLink();
    </script>
{% endif %}
<!-- Start Slider -->
<div id="slides-shop" class="cover-slides">
    <ul class="slides-container">
        {% for value in renderData.themes %}
            <li class="text-center">
                <img src="{{ value.hinh }}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div data-animate="fadeInUp" data-animated="true">
                                <div class="text dark text-shadow-1">
                                    {{ value.noidung|raw }}
                                </div><!-- text-box-inner -->
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    <div class="slides-navigation">
        <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </div>
</div>
<!-- Start Categories  -->
<div class="categories-shop">
    <div class="col-lg-12">
        <div class="title-all text-center">
            <h1>DANH MỤC</h1>
            <p>Những sản phẩm tốt nhất sẽ dành cho những khách hàng tốt nhất.</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="featured-products-box owl-carousel owl-theme">
                {% for cats in renderData.loaisanpham %}
                    {% for cat in cats %}
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="shop-cat-box">
                                <img  class="img-fluid"
                                     style="height: 250px; width: 353px;" src="{{ cat['hinh'] }}"
                                     alt=""/>
                                <a onclick="callAjax('danh-muc/{{ cat.cat_name }}/trang/1');return false;" class="btn hvr-hover"
                                   href="'danh-muc/{{ cat.cat_name }}/trang/1'">{{ cat['tenloaisp'] }}</a>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- End Categories -->

<div class="container">
    <div class="row">
        {% for value in renderData.helps %}
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="icon-box-img" style="width: 120px">
                <div class="icon" style="padding-left: 100px">
                    <div class="text-center" style="padding-left: 100%;">
                        <img width="100"
                             height="100"
                             src="{{ value.hinh }}"
                        >
                    </div>
                </div>
            </div>
            <div class="icon-box-text last-reset">
                <header class="entry-header">
                    <div class="entry-header-text entry-header-text-top text-center">
                        <h1 class="noo-sh-title" style="text-align: center;">
                            {{ value.tieude }}
                        </h1>
                    </div>
                </header>
                <p style="text-align: center;"><span style="font-size: 80%;">{{ value.noidung|raw }}</span>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- Start Products  -->
<div class="products-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>SẢN PHẨM</h1>
                    <p>The best quality - The best choices.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="special-menu text-center">
                    <div class="button-group filter-button-group">
                        <button class="active" data-filter="*">Tất cả</button>
                        <button data-filter=".topviews">Top views</button>
                        <button data-filter=".topsales">Bán chạy</button>
                        <button data-filter=".topnew">Mới nhất</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row special-list">
            {% for value in renderData.topviews %}
                {% set checkLarge = (value['gia'] > 0) %}
                <div class="col-lg-3 col-md-6 special-grid topviews">
                    <div class="products-single fix">
                        <div class="box-img-hover" style="height: 250px; border: 1px solid black;">
                            {% if(value.giamgia > 0 and date(value.ngaykt) > date()) %}
                                <div class="type-lb">
                                    <p class="sale">Sale off</p>
                                </div>
                            {% endif %}
                            <img  href="san-pham/{{ value['pro_name'] }}" onclick="callAjax('san-pham/{{ value['pro_name'] }}');" style="max-height: 100%;max-width: 100%; object-fit: contain;position: absolute;
                            margin: auto;top: 0;left: 0;right: 0;bottom: 0; cursor: pointer;"
                                 src="{{ value['hinh'] }}"
                                 class="zoom img-fluid"
                                 alt="Image">
                            {% if(checkLarge) %}<a class="bottom-right"
                                                   onclick="setCart({{ value.id }},'{{ value.pro_name }}', '{{ value.tensp }}','{{ value.hinh }}',{{ value.gia }},{{ value.giamgia }}, 1, '{{ value.ngaykt }}');"
                                                   class="cart" href="">Thêm Vào Giỏ Hàng</a>
                            {% endif %}

                        </div>
                        <div class="why-text">
                            <h4>{{ value['tensp'] }}</h4>
                            <h5>
                                {% if(checkLarge) %}
                                    {% if(value['giamgia'] > 0 and date(value['ngaykt']) > date()) %}
                                    <del>{{ value['gia']|number_format() }}</del>
                                         {{ (value['gia']*(100-(value['giamgia']))/100)|number_format() }}
                                    {% else %}
                                        {{ (value['gia'])|number_format() }}
                                    {% endif %}
                                    VND
                                {% endif %}
                            </h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% for value in renderData.topnew %}
                {% set checkLarge = (value['gia'] > 0) %}
                <div class="col-lg-3 col-md-6 special-grid topnew">
                    <div class="products-single fix">
                        <div class="box-img-hover" style="height: 250px; border: 1px solid black;">
                            {% if(value.giamgia > 0 and date(value.ngaykt) > date()) %}
                                <div class="type-lb">
                                    <p class="sale">Sale off</p>
                                </div>
                            {% endif %}
                            <img  href="san-pham/{{ value['pro_name'] }}" onclick="callAjax('san-pham/{{ value['pro_name'] }}');" style="max-height: 100%;max-width: 100%; object-fit: contain;position: absolute;
                            margin: auto;top: 0;left: 0;right: 0;bottom: 0;cursor: pointer;"
                                 src="{{ value['hinh'] }}"
                                 class="zoom img-fluid"
                                 alt="Image">
                            {% if(checkLarge) %}<a class="bottom-right"
                                                   onclick="setCart({{ value.id }}, '{{ value.pro_name }}', '{{ value.tensp }}','{{ value.hinh }}',{{ value.gia }},{{ value.giamgia }}, 1, '{{ value.ngaykt }}');"
                                                   class="cart" href="">Thêm Vào Giỏ Hàng</a>
                            {% endif %}

                        </div>
                        <div class="why-text">
                            <h4>{{ value['tensp'] }}</h4>
                            <h5>
                                {% if(checkLarge) %}
                                    {% if(value['giamgia'] > 0 and date(value['ngaykt']) > date()) %}
                                    <del>{{ value['gia']|number_format() }}</del>
                                         {{ (value['gia']*(100-(value['giamgia']))/100)|number_format() }}
                                    {% else %}
                                        {{ (value['gia'])|number_format() }}
                                    {% endif %}
                                    VND
                                {% endif %}
                            </h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% for value in renderData.topsales %}
                {% set checkLarge = (value['gia'] > 0) %}
                <div class="col-lg-3 col-md-6 special-grid topsales">
                    <div class="products-single fix">
                        <div class="box-img-hover" style="height: 250px; border: 1px solid black;">
                            {% if(value.giamgia > 0 and date(value.ngaykt) > date()) %}
                                <div class="type-lb">
                                    <p class="sale">Sale off</p>
                                </div>
                            {% endif %}
                            <img   href="san-pham/{{ value['pro_name'] }}" onclick="callAjax('san-pham/{{ value['pro_name'] }}');" style="max-height: 100%;max-width: 100%; object-fit: contain;position: absolute;
                            margin: auto;top: 0;left: 0;right: 0;bottom: 0;cursor: pointer;"
                                 src="{{ value['hinh'] }}"
                                 class="zoom img-fluid"
                                 alt="Image">
                            {% if(checkLarge) %}<a class="bottom-right"
                                                   onclick="setCart({{ value.id }}, '{{ value.pro_name }}', '{{ value.tensp }}','{{ value.hinh }}',{{ value.gia }},{{ value.giamgia }}, 1, '{{ value.ngaykt }}');"
                                                   class="cart" href="">Thêm Vào Giỏ Hàng</a>
                            {% endif %}

                        </div>
                        <div class="why-text">
                            <h4>{{ value['tensp'] }}</h4>
                            <h5>
                                {% if(checkLarge) %}
                                    {% if(value['giamgia'] > 0 and date(value['ngaykt']) > date()) %}
                                    <del>{{ value['gia']|number_format() }}</del>
                                         {{ (value['gia']*(100-(value['giamgia']))/100)|number_format() }}
                                    {% else %}
                                        {{ (value['gia'])|number_format() }}
                                    {% endif %}
                                    VND
                                {% endif %}
                            </h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- End Products  -->

<!-- Start Blog  -->
<div class="latest-blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>CÁC BÀI VIẾT</h1>
                    <p>Những bài viết giúp bạn hiểu rõ hơn về sản phẩm cũng như công ty.</p>
                </div>
            </div>
        </div>
        <div class="row">
            {% for value in renderData.blogs %}
                <div class="col-md-6 col-lg-4 col-xl-4">
                    <div class="blog-box" style=" height: 500px;">
                        <div class="blog-img" style="height: 208px;display:table-cell; vertical-align:middle; text-align:center">
                            {% if(value['media'] == 0) %}
                                <img  style="max-height: 100%;max-width: 100%; object-fit: contain;position: inherit;
                                margin: auto;top: 0;left: 0;right: 0;bottom: 0;cursor: pointer;"
                                     onclick="callAjax('bai-viet/' + '{{ value['tieude_slug'] }}');"
                                     src="{{ value['duongdan'] }}"
                                     alt=""
                                />
                            {% else %}
                                <iframe style="width: 350px;max-height: 100%;" src="{{ value['duongdan'] }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            {% endif %}
                        </div>
                        <div class="blog-content">
                            <div class="title-blog">
                                <h3>{{ value['tieude']|raw }}</h3>
                                <p>{{ value['noidung']|raw }}</p>
                            </div>
                        </div>
                        <a style="margin-right: 18px;margin-bottom: 33px;" class="bottom-right"
                           onclick="callAjax('bai-viet/' + '{{ value['tieude_slug'] }}');"
                           class="cart" href="'bai-viet/' + '{{ value['tieude_slug'] }}'">Read more >></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- End Blog  -->
<script type="application/javascript">
    document.title = '{{ renderData.title_head }} - ' + title_default;
    var arr = [];
    {% for value in renderData.themes %}
        arr.push('{{ value['hinh'] }}');
    {% endfor %}
    {% for cats in renderData.loaisanpham %}
        {% for cat in cats %}
            arr.push('{{ cat['hinh'] }}');
        {% endfor %}
    {% endfor %}
    {% for value in renderData.topsales %}
        arr.push('{{ value['duongdan'] }}');
    {% endfor %}
    {% for value in renderData.topnew %}
        arr.push('{{ value['duongdan'] }}');
    {% endfor %}
    {% for value in renderData.topviews %}
        arr.push('{{ value['duongdan'] }}');
    {% endfor %}
    preloadImages(arr);
    document.onreadystatechange = () => {
        if (document.readyState === 'complete') {
            document.getElementById('slides-shop').style.backgroundColor = '#ffffff';
            document.getElementById('slides-shop').style.backgroundImage = 'none';
        }
    };
</script>



