<div id="close-msg" class="circle" style="position: fixed; bottom: 0; left: 50%; z-index: 9999;" hidden></div>
<h1></h1>
<div class="icon-bar">
    <a class="phone-call linkSocial" href="tel:0977192691"><i class="fa fa-phone"></i></a>
</div>
<!-- Start Footer  -->
<footer style="margin-top: 100px;">
    <div class="footer-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-widget">
                        <h4>CREATORVN</h4>
                        <p>
                            <div class="textwidget">
                        <p><span style="font-size: 250%;"><strong><span style="color: #ffcc00;">C</span></strong></span><span
                                    style="color: #ffcc00;">reatorVN</span> chúng tôi tạo ra những sản phẩm mang
                            phong cách thiết kế tối giản nhưng vô cùng tinh tế nhằm đem lại không gian sống
                            thoải mái cho gia đình bạn.</p>
                        <p><span style="font-size: 250%;"><strong><span style="color: #ffcc00;">C</span></strong></span>húng
                            tôi nhận tư vấn, tiếp nhận những ý tưởng của khách hàng để tạo ra những sản
                            phẩm vừa ý tới ngôi nhà của bạn.</p>
                    </div>
                    </p>
                    <ul style="list-style: none;">
                        <li><a class="linkSocial" target="_blank" href="//www.facebook.com/sharer.php?u=https://creatorvn.com/2017/12/20/hello-world/"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a class="linkSocial" target="_blank" href="//twitter.com/share?url=https://creatorvn.com/2017/12/20/hello-world/"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a class="linkSocial" target="_blank" href="//www.linkedin.com/shareArticle?mini=true&url=https://creatorvn.com/2017/12/20/hello-world/&title=ABOUT%20US%20%26%238211%3B%20CREATOR%20VIETNAM"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a class="linkSocial" target="_blank" href="//plus.google.com/share?url=https://creatorvn.com/2017/12/20/hello-world/"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a class="linkSocial" target="_blank" href="//pinterest.com/pin/create/button/?url=https://creatorvn.com/2017/12/20/hello-world/&media=&description=ABOUT%20US%20%26%238211%3B%20CREATOR%20VIETNAM"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="footer-link">
                    <div id="custom_html-3" class="widget_text col pb-0 widget widget_custom_html"><span
                                class="widget-title"><h4>Facebook</h4></span>
                        <div class="is-divider small"></div>
                        <div class="textwidget custom-html-widget">
                            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FCreatorVN%2F&amp;tabs=timeline%2C%20messages&amp;width=300&amp;height=330&amp;small_header=false&amp;adapt_container_width=true&amp;hide_cover=false&amp;show_facepile=true&amp;appId"
                                    width="300" height="330" style="border:none;overflow:hidden" scrolling="no"
                                    frameborder="0" allowtransparency="true"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="footer-link-contact">
                    <h4>XƯỞNG THIẾT KẾ VÀ THI CÔNG NỘI THẤT - CREATORVN</h4>
                    <ul style="list-style: none;">
                        <li>
                            <p><i class="fas fa-map-marker-alt"></i>
                            <p><strong style="color: #fab207;">Địa chỉ: </strong>107/6/11 Đường 38, Phường Hiệp Bình Chánh, Quận
                                Thủ Đức, TP.HCM</p>
                        </li>
                        <li>
                            <p><i class="fas fa-phone-square"></i><strong style="color: #fab207;">Hotline: </strong><a class="linkSocial"
                                        href="tel:0977192691">0977 192 691 (Ms. Hương)</a></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer  -->


<!-- Start copyright  -->
<div class="footer-copyright">
    <p class="footer-company">All Rights Reserved. &copy; 2018 <a onclick="callAjax('');" href="">CreatorVN</a></p>
</div>
<!-- End copyright  -->

<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>