<!-- Start Main Top -->
<div class="main-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md- col-sm-12 col-xs-12">
                <div class="text-slid-box">
                    <div id="offer-box" class="carouselTicker">
                        <ul class="offer-box text-center" style="list-style: none;">
                            <li>
                                ĐC: 107/6/11, ĐƯỜNG 38, PHƯỜNG HIỆP BÌNH CHÁNH, THỦ ĐỨC, TPHCM
                            </li>
                            <li>
                                ĐC: 107/6/11, ĐƯỜNG 38, PHƯỜNG HIỆP BÌNH CHÁNH, THỦ ĐỨC, TPHCM
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Main Top -->

<!-- Start Main Top -->
<header class="main-header">
    <!-- Start Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
        <div class="container">
            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu"
                        aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" onclick="callAjax('');return false;" href="/"><img style="width: 60px;" src="/images/logo/logo.png" class="logo" alt=""></a>
            </div>
            <!-- End Header Navigation -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                    <li class="nav-item"><a class="nav-link" onclick="callAjax('');return false;" href="">Trang chủ</a></li>
                    <li class="dropdown">
                        <a href="#" class="nav-link" data-toggle="dropdown">Giới Thiệu &nbsp;<i style="float: right;margin-top: 6px;" class="far fa-caret-square-down"></i></a>
                        <ul class="dropdown-menu">
                            <li class="nav-item" onclick="callAjax('gioi-thieu');return false;"><a class="nav-link" href="gioi-thieu">Giới thiệu</a></li>
                            <li class="nav-item" onclick="callAjax('ve-chung-toi');return false;"><a class="nav-link" href="ve-chung-toi">Về Chúng Tôi</a></li>
                            <li class="nav-item"><a class="nav-link" onclick="callAjax('chinh-sach-va-quy-dinh');return false;" href="chinh-sach-va-quy-dinh">Chính Sách</a>
                        </ul>
                    </li>
                    <li class="dropdown megamenu-fw">
                        <a href="#" class="nav-link" data-toggle="dropdown">Sản Phẩm &nbsp;<i style="float: right;margin-top: 6px;"
                                    class="far fa-caret-square-down" ></i></a>
                        <ul class="dropdown-menu megamenu-content" role="menu">
                            <li>
                                <div class="row">
                                    {% for key ,cats in renderData.loaisanpham %}
                                        <!-- end col-3 -->
                                        <div class="col-menu col-md-3">
                                            <h6 class="title">{{ key }} <i style="float: right;"
                                                        class="far fa-caret-square-down"></i></h6>
                                            <div class="content">
                                                <ul class="menu-col">
                                                    {% for cat in cats %}
                                                        <li onclick="callAjax('danh-muc/{{ cat.cat_name }}/trang/1');return false;"><a
                                                                    href="danh-muc/{{ cat.cat_name }}/trang/1">{{ cat['tenloaisp'] }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <div class="col-menu col-md-3">
                                        <h6 class="title">Thảm<i style="float: right;"
                                                                  class="far fa-caret-square-down"></i></h6>
                                        <div class="content">
                                            <ul class="menu-col">
                                                <li><a class="linkSocial" target="_blank"
                                                       href="http://tham.creatorvn.com/">Thảm nhập khẩu cao cấp</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" onclick="callAjax('cac-san-pham-thuc-te/trang/1');return false;" href="cac-san-pham-thuc-te/trang/1">Sản Phẩm Thực Tế</a>
                    <li class="nav-item"><a class="nav-link" onclick="callAjax('khuyen-mai/trang/1');return false;" href="khuyen-mai/trang/1">Khuyến Mãi</a>
                    {#<li class="nav-item"><a class="nav-link" onclick="callAjax('gio-hang');return false;" href="gio-hang">Giỏ Hàng Của Bạn</a>#}
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->

            <!-- Start Atribute Navigation -->
            <div class="attr-nav">
                <ul>
                    <li class="search"><a href="tim-kiem?kw=ghe&trang=1"><i class="fa fa-search"></i></a></li>
                    <li class="side-menu">
                        <a href="#">
                            <i class="fa fa-cart-arrow-down"></i>
                            <span class="badge" id="number-product">0</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- End Atribute Navigation -->
        </div>
        <!-- Start Side Menu -->
        <div class="side">
            <a href="#" class="close-side"><i class="fa fa-times"></i></a>
            <li class="cart-box" style="list-style: none;">
                <ul id="cart-list" class="cart-list" style="list-style: none;"></ul>
            </li>
        </div>
        <!-- End Side Menu -->
    </nav>
    <!-- End Navigation -->
    <!-- Start Top Search -->
    <div class="top-search">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
                <input type="text" id="search-input" class="form-control" placeholder="Tìm kiếm theo tên sản phẩm, tên danh mục,...">
                <span id="search-btn" class="input-group-addon"><i class="fa fa-search"></i></span>
            </div>
        </div>
    </div>
    <!-- End Top Search -->
</header>
<!-- End Main Top -->
{#<script type="application/javascript">#}
    {#document.onreadystatechange = () => {#}
        {#if (document.readyState === 'complete') {#}
            {#var arrUrl = ['', 've-chung-toi', 'chinh-sach', 'cac-san-pham-thuc-te/trang/1', 'khuyen-mai/trang/1', 'gio-hang'];#}
            {#{% for key ,cats in renderData.loaisanpham %}#}
            {#{% for cat in cats %}#}
            {#arrUrl.push('danh-muc/{{ cat.cat_name }}/trang/1');#}
            {#{% endfor %}#}
            {#{% endfor %}#}
            {#arrUrl.forEach(url => setTimeout(function () {#}
                {#callAjax(url, false, false)#}
            {#}, 1500));#}
        {#}#}
    {#};#}
{#</script>#}


