{% extends '../base.twig' %}

{% block metatags %}
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="copyright" content="CreatorVN" />
    <meta name="author" content="Thiết kế nội thất CreatorVN">
    <link rel="dns-prefetch" href="//s.w.org">
    <meta name="GENERATOR" content="Thiết kế nội thất CreatorVN"/>
    <meta content="INDEX,FOLLOW" name="robots" />
    <meta name="keywords" content="thiết kế nội thất, thiet ke noi that, thảm nhập khẩu, bàn, bàn trà, bàn làm việc, bàn ăn, ghế, ghế sofa">
    <meta name="description" content="Thiết kế nội thất CreatorVN tạo ra những sản phẩm mang phong cách thiết kế tối giản nhưng vô cùng tinh tế nhằm đem lại không gian sống thoải mái cho gia đình bạn.">
    <meta property="og:type" content="article">
    <meta property="fb:pages" content="136895290347843">
    <meta property="fb:app_id" content="263902037430900">
    <meta property="og:site_name" content="Thiết kế nội thất CreatorVN" />
    <meta http-equiv="audience" content="General" />
    <meta name="distribution" content="Global" />
    <meta name="resource-type" content="Document" />
    <meta property="article:publisher" content="https://www.facebook.com/creatorvn">
    <meta name="google-site-verification" content="OGlEgOzE_zF8zHXHcTpgQm-fIeS-_aAUPqker3ciZ48" />
    <meta property="og:image" content="https://creatorvn.com{{ renderData.meta_image }}" />
    <meta property="og:image:alt" content="Thiết kế nội thất CreatorVN" />
    <meta property="og:description" content="Thiết kế nội thất CreatorVN tạo ra những sản phẩm mang phong cách thiết kế tối giản nhưng vô cùng tinh tế nhằm đem lại không gian sống thoải mái cho gia đình bạn." />
    <meta property="og:title" content="Thiết kế nội thất CreatorVN">
    <meta name="twitter:description" content="Thiết kế nội thất CreatorVN tạo ra những sản phẩm mang phong cách thiết kế tối giản nhưng vô cùng tinh tế nhằm đem lại không gian sống thoải mái cho gia đình bạn.">
    <meta name="twitter:title" content="Thiết kế nội thất CreatorVN">
    <meta name="twitter:image" content="https://creatorvn.com{{ renderData.meta_image }}">
{% endblock %}

{% block head_need %}

{% endblock %}

{% block stylesheets %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Jquery-UI CSS -->
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/custom.css">
    <!-- Magnific CSS -->
    <link rel="stylesheet" href="/css/magnific-popup.css">
{% endblock %}

{% block extra_stylesheets %}
    <style type="text/css">
        .swal-modal {
            width: 300px !important;
        }

        img.lazy {
            width: 100%;
            height: auto;
            display: block;

            /* optional way, set loading as background */
            background-image: url('/images/extend/gif-load.gif');
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }
        .product-image-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.9);
            z-index: 9999;
            display: none;
        }

        .product-image-overlay .product-image-overlay-close {
            display: block;
            position: absolute;
            top: 20px;
            right: 20px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid #eee;
            line-height: 35px;
            font-size: 20px;
            color: #eee;
            text-align: center;
            cursor: pointer;
        }

        .product-image-overlay img {
            width: auto;
            height: auto;
            max-width: 80%;
            max-height: 80%;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    </style>
{% endblock %}

{% block javascripts %}
    <!-- ALL JS FILES -->
    <script src="/js/jquery-3.2.1.min.js"></script>
    {#<script src="/vendor/jquery.lazy-master/jquery.lazy.min.js"></script>#}
    {#<script src="/vendor/jquery.lazy-master/lazysizes.min.js"></script>#}
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/jquery.ui.touch-punch.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="/js/jquery.superslides.min.js"></script>
    <script src="/js/jquery.nicescroll.min.js"></script>
    <script src="/js/bootstrap-select.js"></script>
    <script src="/js/inewsticker.js"></script>
    <script src="/js/bootsnav.js"></script>
    <script src="/js/images-loded.min.js"></script>
    <script src="/js/isotope.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/baguetteBox.min.js"></script>
    <script src="/js/form-validator.min.js"></script>
    <script src="/js/contact-form-script.js"></script>
    <script src="/js/custom.js"></script>
    <script src="/js/sweetalert.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    {#<!--[if lt IE 9]>#}
    {#<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>#}
    {#<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>#}
    {#<![endif]-->#}
{% endblock %}

{% block header %}
    {% include 'user/header.twig' %}
{% endblock %}

{% block container %}
    {% if(container|default(false)) %}
        {% include(container) %}
    {% endif %}
{% endblock %}

{% block footer %}
    {% include 'user/footer.twig' %}
{% endblock %}

{% block head_javascripts %}
    {{ parent() }}
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script type="application/javascript">
        var title_default = 'Thiết kế nội thất CreatorVN';
        function ValidNumber() {
            $('.amount-times').on("change input", function () {
                var reg = new RegExp('[0-9]');
                if (!reg.test(this.value) || $.trim(this.value).length < 1) {
                    $(this).val(1);
                }
                else {
                    var times = parseInt(this.value);
                    if (times < 1) {
                        $(this).val(1);
                    }
                    if (times > 20) {
                        $(this).val(20);
                    }
                }
            });
        }

        function PreventLink() {
            $('a').not('.linkSocial').click(function (event) {
                event.preventDefault();
            });
        }

        function isEmpty(val) {
            return (val === undefined || val == null || val.length <= 0) ? true : false;
        }

        function numberWithCommas(x) {
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }

        function change_alias(alias) {
            var str = alias;
            str = str.toLowerCase();
            str = str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g, "a");
            str = str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g, "e");
            str = str.replace(/ì|í|ị|ỉ|ĩ/g, "i");
            str = str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g, "o");
            str = str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g, "u");
            str = str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g, "y");
            str = str.replace(/đ/g, "d");
            str = str.replace(/!|@|%|\^|\*|\(|\)|\+|\=|\<|\>|\?|\/|,|\.|\:|\;|\'|\"|\&|\#|\[|\]|~|\$|_|`|-|{|}|\||\\/g, " ");
            str = str.replace(/ + /g, " ");
            str = str.trim();
            return str;
        }

        function dbClickThumb() {
            var productImage = $('img.product-thumb');
            var productOverlay = $('.product-image-overlay');
            var productOverlayImage = $('.product-image-overlay img');

            productImage.click(function () {
                var productImageSource = $(this).attr('src');

                productOverlayImage.attr('src', productImageSource);
                productOverlay.fadeIn(100);
                $('body').css('overflow', 'hidden');

                $('.product-image-overlay-close').click(function () {
                    productOverlay.fadeOut(100);
                    $('body').css('overflow', 'auto');
                });
            });
        }

        function preloadImages(array, waitForOtherResources, timeout) {
            var loaded = false, list = preloadImages.list, imgs = array.slice(0), t = timeout || 15*1000, timer;
            if (!preloadImages.list) {
                list = preloadImages.list = [];
            }
            if (!waitForOtherResources || document.readyState === 'complete') {
                loadNow();
            } else {
                window.addEventListener("load", function() {
                    clearTimeout(timer);
                    loadNow();
                });
                {#in case window.addEventListener doesn't get called (sometimes some resource gets stuck)#}
                {#hen preload the images anyway after some timeout time#}
                timer = setTimeout(loadNow, t);
            }

            function loadNow() {
                if (!loaded) {
                    loaded = true;
                    for (var i = 0; i < imgs.length; i++) {
                        var img = new Image();
                        img.onload = img.onerror = img.onabort = function() {
                            var index = list.indexOf(this);
                            if (index !== -1) {
                                {#remove image from the array once it's loaded#}
                                {#for memory consumption reasons#}
                                list.splice(index, 1);
                            }
                        };
                        list.push(img);
                        img.src = imgs[i];
                    }
                }
            }
        }
    </script>
{% endblock %}

{% block extra_javascripts %}
    {{ parent() }}
     <script type="application/javascript">
        $.ajaxSetup({
            headers: {
                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
            },
        });

        $('body').append('<div class="product-image-overlay"><span class="product-image-overlay-close">x</span><img src="" /></div>');

        dbClickThumb();

        ValidNumber();

        PreventLink();

        setCart(1, 1, 1, 1, 1, 1, 1, 1, true);

        $('.nav-item, .dropdown').click(function () {
            $('.nav-item').removeClass('active');
            $('.dropdown').removeClass('active');
            $(this).addClass('active');
        });


        $('#search-input').keypress(function (e) {
            if (e.keyCode === 13) {
                var kw = $.trim($('#search-input').val()).replace(' ', '+');
                if (kw != '') {
                    callAjax('tim-kiem?kw=' + kw + '&trang=1')
                }
            }
        });

        $('#search-btn').click(function (e) {
            var kw = $.trim($('#search-input').val()).replace(' ', '+');
            if (kw != '') {
                callAjax('tim-kiem?kw=' + kw + '&trang=1')
            }
        });

        function checkCoupon() {
            var mahm = $.trim($('#coupon').val());
            if (!mahm) {
                swal('WARNING', 'Hãy nhập mã giảm giá');
                return;
            }
            var data = new FormData();
            data.append('mahm', mahm);
            $.ajax({
                type: "POST",
                url: 'check-coupon',
                processData: false,
                contentType: false,
                cache: false,
                dataType: 'json',
                data: data,
                success: function (result) {
                    if (result.status) {
                        var total = parseInt($.trim($('#gr-total').data('total')));
                        var sales = result.data.sales.phantram;
                        $('#coupon-checkout').text(numberWithCommas(sales) + ' %');
                        $('#gr-total').text((numberWithCommas(total * (100 - sales) / 100)) + 'VND');
                        swal({
                            title: "OK",
                            text: "Mã khuyến mãi hợp lệ",
                            icon: "success",
                        });
                    } else {
                        swal({
                            title: "ERROR",
                            text: "Mã khuyến không mãi hợp lệ",
                            icon: "warning",
                        });
                    }

                }
            });
        }

        window.onpopstate = function (event) {
            if (event.state) {
                {# history changed because of pushState/replaceState #}
            } else {
                {# history changed because of a page load #}
            }
        };

        $(document).ready(function ($) {
            $('body').append('<div class="boxclose" id="box" >  </div>');
            {#can move fb#}
            $("#img_msg").draggable({
                drag: function () {
                    $('#close-msg').attr('hidden', false);
                }
            });
            $("body").droppable({
                drop: function () {
                    var offset = $('#img_msg').offset();
                    var xPos = offset.left;
                    var yPos = offset.top;
                    var intWidth = $(window).innerWidth() / 2;
                    var intHeight = $('.icon-bar').offset().top;
                    if (Math.abs(intWidth - xPos) < 40 && Math.abs(intHeight - yPos) < 40) {
                        $("#img_msg").remove();
                    }
                    $('#close-msg').attr('hidden', true);
                }
            });

            let url = window.location.href;
            {# find link change when click button back or previous page#}
            if (window.history && window.history.pushState) {
                $(window).on('popstate', function () {
                    var base_url = '{{ renderData.base_url }}';
                    var link = $(location).attr('href').replace(base_url, '').replace('#', '');
                    callAjax(link, false);
                });
            }
            if (url.indexOf('gio-hang') !== -1) {
                LoadCart();
            } else if (url.indexOf('dat-hang') !== -1) {
                var list = sessionStorage.getItem('list');
                if (isEmpty(list)) {
                    swal("WARNING", "Vui đặt mua sản phẩm trước khi thanh toán");
                    callAjax('');
                    return;
                }
                LoadCartInCheckout();
            }

            $(".search").click(function () {
                $("#search-input").focus();
            });

            $('body', 'html').click(function (e) {
                if ($(e.target).hasClass('cart-list-header') || $(e.target).hasClass('fa-cart-arrow-down')) {
                    return;
                }
                $('nav.navbar.bootsnav > .side').removeClass('on');
                $('body').removeClass('on-side');
            });

            $('.owl-nav').remove();
        });

    </script>
{% endblock %}
