{% if(renderData.is_Ajax == true) %}
    <script type="application/javascript">
        PreventLink();
    </script>
{% endif %}
<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>CreatorVN</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a onclick="callAjax('');return false;" href="">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Đặt hàng</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->

<!-- Start Cart  -->
<div class="cart-box-main">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-6 mb-3">
                <div class="checkout-address">
                    <div class="title-left">
                        <h3>Thông Tin Khách Hàng</h3>
                    </div>
                    <form id="needs-validation" class="needs-validation">
                        <div class="mb-3">
                            <label for="fullname">Họ Tên *</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="fullname" placeholder="" required>
                                <div class="" style="width: 100%;"> Hãy nhập họ tên của bạn.</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="address">Địa chỉ *</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="address" placeholder="" required>
                                <div class="" style="width: 100%;"> Hãy nhập địa chỉ của bạn.</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="phone">Số ĐT *</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="phone" placeholder="" required>
                                <div class="" style="width: 100%;"> Hãy nhập số điện thoại của bạn.</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="email">Email *</label>
                            <div class="input-group">
                                <input type="email" class="form-control" id="email" placeholder="" required>
                                <div class="" style="width: 100%;"> Hãy nhập email của bạn.</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="email">Mã khuyến mãi(nếu có)</label>
                            <div class="coupon-box">
                                <div class="input-group input-group-sm">
                                    <input id="coupon" class="form-control" placeholder="" aria-label="Coupon code" type="text">
                                    <div class="input-group-append">
                                        <button onclick="checkCoupon();" id="check-coupon" class="btn btn-theme" type="button">Áp dụng</button>
                                    </div>
                                    <div class="" style="width: 100%;"> Hãy nhập mã khuyến mãi để được giảm giá.</div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-6 col-lg-6 mb-3">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="odr-box">
                            <div class="title-left">
                                <h3>Giỏ hàng của bạn</h3>
                            </div>
                            <div id="cart-checkout" class="rounded p-2 bg-light">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12">
                        <div class="order-box">
                            <div class="title-left">
                                <h3>Hóa đơn</h3>
                            </div>
                            <div class="d-flex">
                                <div class="font-weight-bold">Sản phẩm</div>
                                <div class="ml-auto font-weight-bold">Tổng cộng</div>
                            </div>
                            <hr class="my-1">
                            <div class="d-flex">
                                <h4>Tổng hiện tại</h4>
                                <div class="ml-auto font-weight-bold" id="sub-total"> </div>
                            </div>
                            <div class="d-flex">
                                <h4>Giảm giá</h4>
                                <div class="ml-auto font-weight-bold" id="sales-checkout"> 0 </div>
                            </div>
                            <hr class="my-1">
                            <div class="d-flex">
                                <h4>Giảm giá từ coupon</h4>
                                <div class="ml-auto font-weight-bold" id="coupon-checkout"> 0 </div>
                            </div>
                            <div class="d-flex">
                                <h4>Thuế</h4>
                                <div class="ml-auto font-weight-bold" id="tax-checkout"> 0 </div>
                            </div>
                            <div class="d-flex">
                                <h4>Phí vận chuyển</h4>
                                <div class="ml-auto font-weight-bold"> Free </div>
                            </div>
                            <hr>
                            <div class="d-flex gr-total">
                                <h5>Tổng tiền</h5>
                                <div class="ml-auto h5" id="gr-total" data-total="0">  </div>
                            </div>
                            <hr> </div>
                        <div id="execute-checkout" class="col-12 d-flex shopping-box" onclick="executeCheckout();"> <a href="#" class="ml-auto btn hvr-hover">Thực hiện đặt hàng</a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="application/javascript">
    document.title = '{{ renderData.title_head }} - ' + title_default;
</script>