{% if(renderData.is_Ajax == true) %}
    <script type="application/javascript">
        PreventLink();
    </script>
{% endif %}
<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>CreatorVN</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a onclick="callAjax('');return false;" href="">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Về chúng tôi</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<div class="col-lg-12">
    <div class="article-inner" id="aboutus-content">
        <header class="entry-header">
            <div class="entry-header-text entry-header-text-top text-center">
                <h1 class="noo-sh-title" style="text-align: center;">
                    CREATOR VIETNAM
                </h1>
            </div>
        </header>
        <div class="container">
            <div class="row">
                {% include 'user/about/content.twig' %}
            </div>
        </div>
    </div>
</div>
<script type="application/javascript">
    document.title = '{{ renderData.title_head }} - ' + title_default;
</script>