{% if(renderData.is_Ajax == true) %}
    <script type="application/javascript">
        PreventLink();
    </script>
{% endif %}
<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>CreatorVN</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a onclick="callAjax('');return false;" href="">Trang chủ</a></li>
                    <li class="breadcrumb-item active">{{ renderData.title_head }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<div class="col-lg-12">
    <div class="article-inner" id="aboutus-content">
        <header class="entry-header">
            <div class="entry-header-text entry-header-text-top text-center">
                <h1 class="noo-sh-title" style="text-align: center;">
                    {{ renderData.title_head }}
                </h1>
            </div>
        </header>
        <div id="gallery" class="gallery-box">
            <div class="container">
                <div class="row">
                    <ul class="popup-gallery clearfix">
                        <li style="padding-left: 5px;">{{ renderData.content|raw }}</li>
                        {% for val in renderData.imgs %}
                            <li class="col-lg-12 col-xl-12 col-xs-12 col-sm-12" style="border: 1px solid black;">
                                <a href="{{ val['duongdan'] }}">
                                    <img style="max-width:100%;max-height: 100%;position: relative;
                                margin: auto;top: 0;left: 0;right: 0;bottom: 0;" class="img-fluid"
                                         src="{{ val['duongdan'] }}"
                                         
                                         alt="single image">
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="application/javascript">
    document.title = '{{ renderData.title_head }} - ' + title_default;
    $(document).ready(function() {
        $('.popup-gallery').magnificPopup({
            delegate: 'a',
            type: 'image',
            tLoading: 'Loading image #%curr%...',
            mainClass: 'mfp-img-mobile',
            gallery: {
                enabled: true,
                navigateByImgClick: true,
                preload: [0,1] {#Will preload 0 - before current, and 1 after the current image#}
            },
            image: {
                tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
                titleSrc: function(item) {
                    return '<small>by CreatorVN</small>';
                }
            }
        });
    });
</script>