{% if(renderData.is_Ajax == true) %}
    <script type="application/javascript">
        ValidNumber();
        PreventLink();
    </script>
{% endif %}
<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>CreatorVN</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a onclick="callAjax('');return false;" href="">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Các Sản Phẩm Thực Tế</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% if(renderData.products.total == 0) %}
    <div class="row" style="margin: 10%;">
        <div class="col-lg-12 text-center">
            <h1 style="padding-bottom: 5%;">Chưa có sản phẩm trong dự án thực tế</h1>
            <div onclick="callAjax('')" class="col-12 text-center shopping-box">
                <a href="#" class="ml-auto btn hvr-hover">Quay về trang chủ</a>
            </div>
        </div>
    </div>
{% else %}
    <div class="container">
        <div class="special-list">
            <div class="row">
                {% for value in renderData.products.data %}
                    <div class="col-lg-4 col-md-6 special-grid">
                        <div class="products-single fix">
                            <div class="box-img-hover" style="height: 250px; border: 1px solid black;">
                                <img href="cac-san-pham-thuc-te/chi-tiet/{{ value.title_link }}"
                                      style="max-height: 100%;max-width: 100%; object-fit: contain;position: absolute;
                            margin: auto;top: 0;left: 0;right: 0;bottom: 0; cursor: pointer;"
                                     src="{{ value.img['duongdan'] }}"
                                     onclick="callAjax('cac-san-pham-thuc-te/chi-tiet/{{ value.title_link }}');"
                                     class="zoom img-fluid"
                                     alt="Image">
                            </div>
                            <div class="why-text" style="vertical-align:middle; text-align:center;height: 80px;">
                                <h4 style="cursor: pointer;"
                                    class="zoom"
                                    onclick="callAjax('cac-san-pham-thuc-te/chi-tiet/{{ value.title_link }}');"
                                >{{ value['tensp'] }}
                                </h4>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="shop-detail-box-main">
        <div class="nav-scroller py-1 mb-2">
            <nav class="nav d-flex justify-content-center">
                <ul class="pagination flex-sm-wrap pagination-lg">
                    {% set checkSmaller = (renderData.products.current_page > 1) %}
                    <li class="page-item {{ checkSmaller ? '' : 'disabled' }}"
                            {% if(checkSmaller) %} onclick="callAjax('cac-san-pham-thuc-te/trang/{{ renderData.products.current_page - 1 }}');" {% endif %}>
                        <a class="page-link" href="#">«</a>
                    </li>
                    <li class="page-item active">
                        <span class="page-link">
                            {{ renderData.products.current_page }}
                            <span class="sr-only">(current)</span>
                        </span>
                    </li>
                    {% if(renderData.products.current_page + 1) <= renderData.products.last_page %}
                        <li class="page-item"
                            onclick="callAjax('cac-san-pham-thuc-te/trang/{{ renderData.products.current_page + 1 }}');">
                            <a class="page-link" href="#">{{ renderData.products.current_page + 1 }}</a>
                        </li>
                    {% endif %}
                    {% if(renderData.products.current_page + 2) <= renderData.products.last_page %}
                        <li class="page-item"
                            onclick="callAjax('cac-san-pham-thuc-te/trang/{{ renderData.products.current_page + 2 }}');">
                            <a class="page-link" href="#">{{ renderData.products.current_page + 2 }}</a>
                        </li>
                    {% endif %}
                    {% if(renderData.products.current_page + 3) <= renderData.products.last_page %}
                        <li class="page-item"
                            onclick="callAjax('cac-san-pham-thuc-te/trang/{{ renderData.products.current_page + 3 }}');">
                            <a class="page-link" href="#">{{ renderData.products.current_page + 3 }}</a>
                        </li>
                    {% endif %}
                    {% set checkLarger = (renderData.products.last_page - renderData.products.current_page > 0) %}
                    <li class="page-item {{ checkLarger ? '' : 'disabled' }}"
                            {% if(checkLarger) %} onclick="callAjax('cac-san-pham-thuc-te/trang/{{ renderData.products.current_page + 1 }}');" {% endif %}>
                        <a class="page-link" href="#">»</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
{% endif %}
<script type="application/javascript">
    document.title = '{{ renderData.title_head }} - ' + title_default;
    var arr = [];
    {% for value in renderData.products.data %}
    {% for key, value in value.imgs %}
    arr.push('{{ value['duongdan'] }}');
    {% endfor %}
    {% endfor %}
    preloadImages(arr);
</script>



